header {
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

body {
    background-color: steelblue;
}
 
.cropped {
    min-width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    
    margin: 10px;
}

.cropped img {
    width: 109px;
    height: 160px;
    object-fit: scale-down;
}

header nav {
    margin-left: auto;
}

header nav ul a {
    padding: 10px;
    font-size: 30px;
    font-family: monospace;
}

h1 {
    font-family: monospace;
    font-size: 50px;
    margin: 5px;
}

h2 {
    font-family: monospace;
    font-size: 40px;
}

.aboutme {
    font-family: monospace;
    font-size: 20px;
}