header {
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

body {
    background-color: steelblue;
}
 
.cropped {
    min-width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
}

.cropped img {
    width: 109px;
    height: 160px;
    object-fit: scale-down;
}

header nav {
    /* position: relative; */
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
}

header nav a {
    display: flex;
    padding: 10px;
    font-size: 30px;
    font-family: monospace;
}

h1 {
    font-family: monospace;
    font-size: 50px;
    margin: 5px;
}

h2 {
    font-family: monospace;
    font-size: 40px;
}

h3 {
    font-family: monospace;
    text-align: center;
    font-size: 35px;
}

.title {
    font-size: 30px;
    max-width: 300px;
    top: 30%;
    font-family: monospace;
    position: absolute;
    text-align: center;
    pointer-events: none;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 400px;
    max-height: 400px;
}

section img {
    cursor:pointer
}

#first-app {
    display: flex;
    text-align: left;
    max-width: 1600px;
    max-height: 1080px;
    border: red solid;
    position: relative;
}

#first-app img {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

#first-app img:hover {
    opacity: 60%;
}

.first-app-info {
    font-size: 50px;
    font-family: monospace;
    margin-right: 100;
    color: whitesmoke;
    bottom: 10%;
    position: absolute;
    text-size-adjust: auto;
}

.first-app-p {
    font-size: 35px;
    font-family: monospace;
    position: absolute;
}

.placeholderapp:hover {
    content: url("./images/icons8-opened-folder-400.png");
}

section .placeholder-p {
    text-align: center;
    position: absolute;
    bottom: 0px;
    max-height: fit-content;
    font-size: 15px;
    max-width: 300px;
    font-family: monospace;
    pointer-events: none;
}

.aboutme {
    font-family: monospace;
    font-size: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

footer {

    align-items: center;
    background-color:aliceblue; 
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

