header {
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

body {
    background-color: steelblue;
}
 
.cropped {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.cropped img {
    width: 109px;
    height: 160px;
    object-fit: scale-down;
}

header div {
    float: right;
    position: relative 0 100px 0 0;
}

header nav a {
    outline: red dashed 1px;
    align-items: right;
}